DATABASE_URL="mysql://用户名:密码@127.0.0.1:3306/zmobl"
PORT=4000
FRONTEND_URL=http://服务器公网IP
JWT_SECRET=请替换为随机长字符串
SUPER_ADMIN_EMAIL=管理员邮箱
SUPER_ADMIN_PASSWORD=请替换为管理员初始密码
R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_NAME=
R2_ENDPOINT=
